body {
	background-image: url('../images/movie-theater.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 600px;
	color: white;
	font-family: sans-serif;
	background-color: black;
	font-size: 30px;
}

#word {
	font-family: monospace;
	letter-spacing: 5px;
}

#container{
	position: absolute;
	left: 360px;
	top: 150px;
}

#poster {
	position: absolute;
	height: 200px;
	left: 120px;
}

#instructions {
	position: absolute;
	left: 360px;
}

#text {
	margin-top: 20px;
}